@import '../../../common/config.scss';
.song-mv {
    height: 100%;
    @include animation(fadeLeft,ease,1s);
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    &-box {
        margin: 0 24px;
        flex-shrink: 1;
        flex-direction: column;
        overflow: auto;
        overscroll-behavior: contain;
        scroll-behavior: smooth;
        justify-content: flex-start;
        will-change: scroll-position;
        height: 100%;
        margin-bottom: 5rem;
    }
    &-heading {
        text-align: center;
        font-size: $font-heading;
        text-shadow: 0 0 4px var(--text-change);
        font-weight: 700;
        color: var(--text-color);
    } 
    &-container {
        margin-top: 3rem;
    }
    &-list {
        margin-top: 3rem;
        padding: 0 3rem;
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
        grid-gap: 3rem;
    } 
}