@import '../../common/config.scss';

#song {
    width: calc(100vw * 4 / 5);
    height: 100vh;
    display: flex;
    padding-top: 45px;
    background-color: var(--dark-color);
    margin-left: calc(100vw / 5);
    display: flex;

    .song-body {
        background-image: var(--music-color);
        height: 100vh;
        width: 100%;
    }
}
